body {
	background: #ddd;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

main {
	display: flex;
	border: dotted 5px;
	padding: 10px;
}

main > p {
	padding: 25px;
}

content > h1 {
	text-align: center;
}


#profile-photo {
	max-width: 150px;
}

section {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-evenly;
	font-size: 14px;
}

.green {
	color: green;
}

.red {
	color: red;
}

fieldset {
	margin-top: 15px;
}

#improvement > input {
	display: inline;
}

#btnArea > button {
	justify-content: space-between;
}

.bigYellow {
	background-color: yellow;
	font-size: xx-large;
}

#suggestion {
	margin-top: 50px;
}